<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Weather Info</title>
</head>
<body>
  <h1>Weather Information for <%= cityName %></h1>
  <p>Temperature: <%= temperature %>°F</p>
  <p>Weather: <%= weatherDescription %></p>
  <a href="/">Back to home!</a>
</body>
</html>